<template lang="pug">
  section.container-fluid
    h1 Transaction # {{ id }}
    TransactionEntryTable(:transactions="[transaction]")

</template>

<script>
import TransactionEntryTable from '~/components/TransactionEntryTable.vue'

export default {
  components: {
    TransactionEntryTable
  },
  data() {
    return {
      id: this.$route.params.id
    }
  },
  computed: {
    fvc() {
      return this.$store.state.financialVirtualClouds.current.id
    },
    debit() {
      return this.transaction && this.transaction.is_debit
        ? this.transactions.amount
        : 0
    },
    credit() {
      return this.transaction && this.transaction.is_debit
        ? 0
        : this.transaction.amount
    }
  },
  async asyncData({ $axios, params }) {
    const { data } = await $axios.get(`/accounting/transactions/${params.id}/`)
    return { transaction: data }
  },
  methods: {
    entryDebit(entry) {
      return entry.is_debit ? entry.amount : 0
    },
    entryCredit(entry) {
      return entry.is_debit ? 0 : entry.amount
    }
  }
}
</script>
