<template lang="pug">
  section.p-3
    h1 Transactions
    nuxt-link.btn.primary.m-3(to="/accounting/transactions/new") Add Transaction
    TransactionEntryTable(:transactions="transactions", openOnClick)

</template>

<script>
import TransactionEntryTable from '~/components/TransactionEntryTable.vue'

export default {
  components: {
    TransactionEntryTable
  },
  computed: {
    transactions() {
      return this.$store.state.financialVirtualClouds.transactions
    }
  },
  async fetch({ store }) {
    await Promise.all([
      store.dispatch('financialVirtualClouds/fetchTransactions')
    ])
  }
}
</script>
