<template lang="pug">
  b-form(@submit="onSubmit")
    .transaction-details.p-3
      h2.mb-3 Add Transaction
      .row.mb-5
        .col-md-3.col-6.col-lg-2
          b-form-group(label-size="sm" label="Ledger")
            LedgerSelect(v-model="ledger" :ledgers="ledgers")
        .col-md-3.col-6.col-lg-2
          b-form-group(label-size="sm" label="Date")
            client-only
              datepicker(id="date" v-model="$v.transaction.date.$model" :input-class="dateInputClass")
              b-form-invalid-feedback(:class="{'d-block': $v.transaction.date.$error}") Date is required
        .col-10.col-md-4.col-lg-3
          b-form-group(label="Description" label-size="sm")
            b-form-input(id="description" :state="$v.transaction.description.$error ? false : null" v-model="$v.transaction.description.$model")
            b-form-invalid-feedback Description is required
        .col-10.col-md-5.col-lg-3
          b-form-group(label="Documents" label-size="sm")
            b-form-file(id="document" v-model="$v.transaction.document.$model" placeholder=""
              drop-placeholder="Drop file here...")
    b-table.p-2.excel-table(bordered :items="$v.transaction.entries.$model" :fields="fields")
      template(v-slot:cell(#)="data") 
        .p-2.pl-3 {{ data.index + 1 }}
      template(v-slot:cell(account)="data")
        div(:class="{'is-invalid': $v.transaction.entries.$each[data.index].account.$error}")
          AsyncMultiselect(
            v-model="data.item.account"
            :asyncSearchChange="queryAccounts"
          )
      template(v-slot:cell(customer)="data")
        div(:class="{'is-invalid': $v.transaction.entries.$each[data.index].customer.$error}")
          AsyncMultiselect(
            v-model="data.item.customer"
            :asyncSearchChange="queryCustomers"
            :options="currentCustomers"
          )
      template(v-slot:cell(debit)="data")
        DecimalInput(v-model="data.item.debit" :state="$v.transaction.$error && !$v.transaction.entries.$each[data.index].hasAmount ? false : null" :disabled="isCredit(data.item)")
      template(v-slot:cell(credit)="data")
        DecimalInput(v-model="data.item.credit" :state="$v.transaction.$error && !$v.transaction.entries.$each[data.index].hasAmount ? false : null" :disabled="isDebit(data.item)")
      template(v-slot:cell(description)="data")
        b-form-input(v-model="data.item.description")
      template(v-slot:cell(remove)="data")
        .pl-3.text-center
          .btn.primary(@click="removeEntry(data.index)") Remove
    .total.mr-3.p-3.text-right 
      span Total: {{ totalAmount }}
      b-form-invalid-feedback(:class="{'d-block': $v.transaction.$error && !$v.transaction.entries.fundamentalAccountingEquation}") Fundamental Accounting Equation must be respected
    .buttons.pl-3
      .btn(@click="addEntry") Add line
      input.btn.primary.m-2(type="submit" value="Submit")
</template>

<script>
import { required, numeric, minLength } from 'vuelidate/lib/validators'
import { formatDate } from '~/utils/date'
import AsyncMultiselect from '~/components/AsyncMultiselect.vue'
import DecimalInput from '~/components/DecimalInput.vue'
import LedgerSelect from '~/components/inputs/LedgerSelect.vue'

function fundamentalAccountingEquation() {
  return this.equationRespected
}

const hasAmount = (value) => {
  return value.debit > 0 || value.credit > 0
}

export default {
  components: {
    datepicker: () => (process.client ? import('vuejs-datepicker') : null),
    AsyncMultiselect,
    DecimalInput,
    LedgerSelect
  },
  data() {
    return {
      ledger: null,
      amount: {
        decimal: '.',
        thousands: '.',
        precision: 2,
        masked: false
      },
      fields: [
        '#',
        'Account',
        'Customer',
        'Description',
        { key: 'Debit', thClass: 'text-right' },
        { key: 'Credit', thClass: 'text-right' },
        { key: 'Remove', label: '' }
      ],
      newEntry: {
        account: '',
        customer: '',
        description: '',
        debit: 0,
        credit: 0
      },
      transaction: {
        description: '',
        date: new Date(),
        document: null,
        entries: [
          {
            account: '',
            customer: '',
            description: '',
            debit: 0,
            credit: 0
          },
          {
            account: '',
            customer: '',
            description: '',
            debit: 0,
            credit: 0
          }
        ]
      }
    }
  },
  computed: {
    dateInputClass() {
      return this.$v.transaction.date.$error
        ? 'date editable form-control is-invalid'
        : 'date editable form-control'
    },
    currentCustomers() {
      const cust = []
      this.transaction.entries.forEach((e) => {
        if (e.customer) {
          cust.push(e.customer)
        }
      })
      return cust
    },
    equationRespected() {
      return this.totalAmount === 0
    },
    totalAmount() {
      let t = 0
      this.transaction.entries.forEach((e) => {
        const accountDebit = e.account.is_debit
        if (accountDebit === true) {
          t = this.isDebit(e) ? t + e.debit : t - e.credit
        } else if (accountDebit === false) {
          t = this.isDebit(e) ? t - e.debit : t + e.credit
        }
      })
      return t
    },
    ledgers() {
      return this.$store.state.financialVirtualClouds.ledgers
    },
    fvc() {
      return this.$store.state.financialVirtualClouds.current.id
    }
  },
  async fetch({ store }) {
    await store
      .dispatch('financialVirtualClouds/fetchLedgers')
      .catch((error) => {
        store.dispatch('notifications/handleError', error)
      })
  },
  methods: {
    async queryAccounts(query) {
      if (query.length === 0 || !this.ledger) {
        return []
      } else {
        const { data } = await this.$axios.get(
          `/fvc/${this.fvc}/accounts/?q=${query}&ledger=${this.ledger}`
        )
        return data
      }
    },
    async queryCustomers(query) {
      if (query.length === 0) {
        return []
      } else {
        const { data } = await this.$axios.get(
          `/fvc/${this.fvc}/customers/?q=${query}`
        )
        return data
      }
    },
    addEntry() {
      const newEntry = JSON.parse(JSON.stringify(this.newEntry))
      this.transaction.entries.push(newEntry)
    },
    removeEntry(index) {
      this.transaction.entries.splice(index, 1)
    },
    isDebit(entry) {
      return entry.debit > 0
    },
    isCredit(entry) {
      return entry.credit > 0
    },
    getTransactionPayload() {
      const entries = []
      this.transaction.entries.forEach((e) => {
        const entry = {
          account_id: e.account.id,
          customer_id: e.customer.id,
          is_debit: e.debit > 0,
          amount: e.debit > 0 ? e.debit : e.credit,
          description: e.description
        }
        entries.push(entry)
      })
      const payload = {
        description: this.transaction.description,
        date: formatDate(this.transaction.date),
        entries
      }
      return payload
    },
    onSubmit(e) {
      e.preventDefault()
      this.$v.transaction.$touch()
      if (this.$v.transaction.$anyError) {
        return
      }
      const payload = this.getTransactionPayload()
      this.$store
        .dispatch('financialVirtualClouds/createTransaction', payload)
        .then(() => {
          this.$store.commit(
            'notifications/setSuccess',
            'The transaction was created'
          )
          this.$router.push('/accounting/transactions')
        })
        .catch((error) => {
          this.$store.dispatch('notifications/handleError', error)
        })
    }
  },
  validations: {
    transaction: {
      date: {
        required
      },
      description: {
        required
      },
      document: {},
      entries: {
        required,
        fundamentalAccountingEquation,
        minLength: minLength(2),
        $each: {
          hasAmount,
          account: {
            required
          },
          customer: {
            required
          },
          debit: {
            numeric
          },
          credit: {
            numeric
          }
        }
      }
    }
  }
}
</script>

<style lang="scss">
.excel-table {
  td {
    padding: 0;
    border-collapse: collapse;
  }
  .is-invalid {
    .multiselect__tags {
      border: 1px solid;
      border-color: #dc3545;
      padding-right: calc(1.5em + 0.75rem);
    }
  }
}
</style>

<style lang="scss" scoped>
.transaction-details {
  background-image: linear-gradient($border-gray, $white);
}
input.number {
  text-align: right;
}
.success {
  color: $success-green;
}
.error {
  color: $leiguskjol-red;
}
</style>
