<template lang="pug">
  section.container-fluid
    h1 {{ account.name }}

    h4.my-4 Balance: {{ account.balance }}

    LedgerEntryTable(:entries="account.entries")
</template>

<script>
import LedgerEntryTable from '~/components/LedgerEntryTable.vue'

export default {
  components: {
    LedgerEntryTable
  },
  data() {
    return {
      id: this.$route.params.id
    }
  },
  computed: {
    fvc() {
      return this.$store.state.financialVirtualClouds.current.id
    }
  },
  async asyncData({ $axios, params }) {
    const { data } = await $axios.get(`/accounting/accounts/${params.id}/`)
    return { account: data }
  }
}
</script>
