<template lang="pug">
  section.container.p-3
    h1 Charts of accounts
    button.btn.primary.m-3(v-b-modal.chart-of-accounts-modal) Add Account
    b-modal#chart-of-accounts-modal(title="Add Account" size="lg" hide-footer)
      AddAccount(:accountTypes="accountTypes" :ledgers="ledgers" @success="$bvModal.hide('chart-of-accounts-modal')")
    b-table(bordered hover :items="chartOfAccounts" @row-clicked="goToAccount")
      template(v-slot:cell(ledger)="data") {{ data.item.ledger.name }}
      template(v-slot:cell(type)="data") {{ data.item.type.name }}
      template(v-slot:cell(parent)="data") {{ data.item.parent ? data.item.parent.name : '' }}

</template>

<script>
import AddAccount from '~/components/forms/AccountForm.vue'

export default {
  components: {
    AddAccount
  },
  computed: {
    chartOfAccounts() {
      return this.$store.state.financialVirtualClouds.accounts
    },
    accountTypes() {
      return this.$store.state.accounting.accountTypes
    },
    ledgers() {
      return this.$store.state.financialVirtualClouds.ledgers
    }
  },
  async fetch({ store }) {
    await Promise.all([
      store.dispatch('financialVirtualClouds/fetchAccounts'),
      store.dispatch('financialVirtualClouds/fetchLedgers'),
      store.dispatch('accounting/fetchAccountTypes')
    ]).catch((error) => {
      store.dispatch('notifications/handleError', error)
    })
  },
  methods: {
    goToAccount(account) {
      this.$router.push(`/accounting/chart-of-accounts/${account.id}`)
    }
  }
}
</script>
