<template lang="pug">
  multiselect(
                v-model="model"
                label="name"
                track-by="code"
                :placeholder="placeholder"
                open-direction="bottom"
                :disabled="disabled"
                :loading="loading"
                :options="list"
                :multiple="false"
                :searchable="true"
                :internal-search="false"
                :clear-on-select="false"
                :close-on-select="true"
                :max-height="600"
                :show-no-results="true"
                @search-change="debounceQuery"
              ) Search
    template(slot="noOptions") Type to search
    template(slot="noResult") No results
</template>

<script>
import _ from 'lodash'

export default {
  model: {
    event: 'input',
    prop: 'value'
  },
  props: {
    options: {
      required: false,
      type: Array,
      default: () => []
    },
    asyncSearchChange: {
      required: true,
      type: Function
    },
    disabled: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      loading: false,
      list: this.options,
      model: this.value
    }
  },
  watch: {
    model(newValue) {
      this.$emit('input', newValue)
    }
  },
  methods: {
    debounceQuery: _.debounce(async function(query, id) {
      this.loading = true
      this.list = await this.asyncSearchChange(query, id)
      this.loading = false
    }, 600)
  }
}
</script>

<style lang="scss">
.multiselect--disabled {
  opacity: 1;
  .multiselect__tags {
    background: inherit;
  }
}
</style>
