<template lang="pug">
    b-input.number(type="text" :state="state" v-model="displayValue" @blur="isInputActive = false" @focus="isInputActive = true")
</template>

<script>
import formatMoney from '~/utils/money'

export default {
  props: {
    value: {
      type: Number,
      default: 0
    },
    state: {
      type: Boolean,
      required: false
    }
  },
  data() {
    return {
      isInputActive: false
    }
  },
  computed: {
    displayValue: {
      get() {
        if (this.isInputActive) {
          // Unformat display value for user
          return this.value.toString()
        } else {
          // User is not modifying now. Format display value for user interface
          return formatMoney(this.value)
        }
      },
      set(modifiedValue) {
        // Recalculate value
        let newValue = parseFloat(modifiedValue.replace(/[^\d.]/g, ''))
        // Ensure that it is not NaN
        if (isNaN(newValue)) {
          newValue = 0
        }
        this.$emit('input', newValue)
      }
    }
  }
}
</script>
