<template lang="pug">
  b-table(hover bordered :items="entries" :fields="entryFields" @row-clicked="openTransaction" :class="{'clickable': openOnClick}")
    template(v-slot:cell(customer)="data") {{ data.item.customer.name }}
    template(v-slot:cell(account)="data") {{ data.item.account.name }}
    template(v-slot:cell(debit)="data")
      .text-right {{ entryDebit(data.item) }}
    template(v-slot:cell(credit)="data")
      .text-right {{ entryCredit(data.item) }}
    template(v-slot:cell(date)="data") {{ entryDate(data.item) }}
</template>

<script>
import formatMoney from '~/utils/money'
import { displayDate } from '~/utils/date'

export default {
  props: {
    entries: {
      type: Array,
      required: true
    },
    openOnClick: {
      type: Boolean,
      default: false
    },
    showAccount: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    entryFields() {
      return [
        { key: 'transaction_client_id', label: '#' },
        'date',
        this.showAccount ? 'account' : '',
        'description',
        'customer',
        'debit',
        'credit'
      ]
    }
  },
  methods: {
    openTransaction(entry, index) {
      if (this.openOnClick) {
        this.$router.push(`/accounting/transactions/${entry.transactionId}`)
      }
    },
    entryDebit(entry) {
      return entry.is_debit ? formatMoney(entry.amount) : formatMoney(0)
    },
    entryCredit(entry) {
      return (entry.credit = entry.is_debit
        ? formatMoney(0)
        : formatMoney(entry.amount))
    },
    entryDate(entry) {
      return entry.date ? displayDate(entry.date) : ''
    }
  }
}
</script>

<style lang="scss">
table.clickable {
  td:hover {
    cursor: pointer;
  }
}
</style>
