<template>
  <div
    :class="{
      visible: visible,
      error: isError && visible,
      success: !isError && visible
    }"
    class="message"
  >
    <h2 v-if="error">
      Ahhhh...
    </h2>
    <h2 v-else="">
      Jei!
    </h2>
    <p class="container text-center">
      {{ message }}
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      message: '',
      isError: false
    }
  },
  computed: {
    error() {
      return this.$store.state.notifications.error
    },
    success() {
      return this.$store.state.notifications.success
    }
  },
  watch: {
    error(value) {
      if (value) {
        this.show(value.message, true)
      }
    },
    success(value) {
      if (value) {
        this.show(value.message, false)
      }
    }
  },
  methods: {
    close() {
      this.visible = false
      this.message = ''
    },
    show(message, error) {
      this.message = message
      this.isError = error
      this.visible = true
      setTimeout(() => this.close(), 3000)
    }
  }
}
</script>

<style lang="scss" scoped>
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  transition: all 0.4s;
  transform: translateY(100%);
  &.visible {
    transform: translateY(0);
  }
  &.error {
    background-color: $leiguskjol-red;
  }
  &.success {
    background-color: $success-green;
  }
}
</style>
