<template lang="pug">
  .navigation(:class="{'menu-open': menuOpen}")
    b-navbar(
      class="navbar d-flex justify-content-between flex-wrap"
      role="navigation"
      aria-label="main navigation"
      )
      b-navbar-brand
        nuxt-link(to="/")
          img.mr-2(
            src="https://leiguskjol-production.s3.amazonaws.com/images/leiguskjol-cube.png"
            height="40"
          )
          strong Igloo Accounting
</template>

<script>
export default {
  data() {
    return {
      menuOpen: false
    }
  },
  computed: {
    userName() {
      return this.$store.state.auth.user.username
    }
  },
  methods: {
    logout() {
      this.$auth.logout()
    },
    toggleMenu() {
      this.menuOpen = !this.menuOpen
    }
  }
}
</script>
<style lang="scss" scoped>
.navbar {
  border-bottom: 1px solid $border-gray;
  height: 64px;
  background-color: $white;
  a {
    text-decoration: none;
  }
}
.menu-open {
  .icon-bar:nth-child(1) {
    transform: rotate(-45deg);
  }
  .icon-bar:nth-child(2) {
    opacity: 0;
  }
  .icon-bar:nth-child(3) {
    transform: rotate(45deg);
  }
}
</style>
