<template lang="pug">
aside.sidebar.pl-3
  ul.mt-3
    li
      nuxt-link(to="/financial-virtual-clouds") {{ fvcTitle }}
  ul.main-links.my-3.my-md-5
    li(v-for="item in sidebar")
      nuxt-link(:to="item.url") {{ item.title }}
      ul.pl-2.sub-links(v-if="item.children" v-show="isActive(item.url)")
        li(v-for="child in item.children")
          nuxt-link(:to="child.url") {{ child.title }}
  ul(v-if="loggedIn")
    li
      nuxt-link(to="/user-settings") {{ userName }}
    li
      a.btn.primary(@click="logout" href="#") Logout
      
</template>

<script>
export default {
  data() {
    return {
      sidebar: [
        {
          title: 'Dashboard',
          url: '/dashboard'
        },
        {
          title: 'Inventory',
          url: '/inventory'
        },
        {
          title: 'Sales',
          url: '/sales'
        },
        {
          title: 'Customers',
          url: '/customers'
        },
        {
          title: 'Vendors',
          url: '/vendors'
        },
        {
          title: 'Accounting',
          url: '/accounting',
          children: [
            {
              title: 'Overview',
              url: '/accounting'
            },
            {
              title: 'Chart of accounts',
              url: '/accounting/chart-of-accounts'
            },
            {
              title: 'Transactions',
              url: '/accounting/transactions'
            }
          ]
        }
      ]
    }
  },
  computed: {
    currentFvc() {
      return this.$store.state.financialVirtualClouds.current
    },
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    userName() {
      return this.$store.state.auth.user.username
    },
    fvcTitle() {
      return this.currentFvc ? this.currentFvc.name : 'Financial Virtual Clouds'
    }
  },
  methods: {
    logout() {
      this.$auth.logout()
      this.$router.push({
        name: 'index'
      })
    },
    isActive(url) {
      return this.$route.path.includes(url)
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  width: 100%;
  border-right: 1px solid $border-gray;
  margin: 0;
  overflow-y: auto;
  height: 100%;
  ul {
    list-style-type: none;
    line-height: 2em;
    padding-left: 0;
    li {
      margin-top: 0.5em;
      a {
        &:hover {
          text-decoration: none;
        }
        &.nuxt-link-exact-active {
          color: $leiguskjol-red;
          font-weight: bold;
        }
      }
    }
    &.main-links > li > .nuxt-link-active {
      color: $leiguskjol-red;
      font-weight: bold;
    }
  }
}

.sub-links {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .sidebar {
    min-height: calc(100vh - 4rem);
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    border-right: none;
    background-color: #f5f5f5;
  }
}
</style>
