<template lang="pug">
  LedgerEntryTable(:entries="entries", :openOnClick="openOnClick" :showAccount="true")
</template>

<script>
import LedgerEntryTable from '~/components/LedgerEntryTable.vue'

export default {
  components: {
    LedgerEntryTable
  },
  props: {
    transactions: {
      type: Array,
      required: true
    },
    openOnClick: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    entries() {
      const entries = []
      for (const transaction of this.transactions) {
        for (const entry of transaction.entries) {
          entry.transaction_client_id = transaction.client_id
          entry.transactionId = transaction.id
          entry.date = transaction.date
          entries.push(entry)
        }
      }
      return entries
    },
    entryFields() {
      return [
        { key: 'transaction', label: '#' },
        'date',
        'account',
        'description',
        'customer',
        'debit',
        'credit'
      ]
    }
  }
}
</script>
