@import "colors.scss";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/src/index.scss';

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.btn {
  color: $white;
  background-color: $button-gray;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    background-color: darken($button-gray, 5%);
    color: #fff;
  }
  &.primary {
    background-color: $leiguskjol-red;
    &:hover {
      background-color: darken($leiguskjol-red, 5%);
    }
  }
}

h1 {
  font-size: 2rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

input.date.editable[readonly] {
  background-color: $white;
}

$primary: $leiguskjol-red;
