<template lang="pug">
  .default-layout
    Message
    Navbar
    b-row(no-gutters)
      b-col.side-col(v-if="showMenu" sm="12" md="2")
        Sidebar()
      b-col(:cols="showMenu ? '10' : '12'")
        main.page
          Nuxt
</template>

<script>
import Navbar from '~/components/Navbar.vue'
import Sidebar from '~/components/Sidebar.vue'
import Message from '~/components/Message.vue'

export default {
  components: {
    Navbar,
    Sidebar,
    Message
  },
  computed: {
    showMenu() {
      return this.$store.state.auth.loggedIn
    }
  }
}
</script>

<style lang="scss" scoped>
@media (max-width: 767.98px) {
  .side-col {
    order: 2;
  }
}
</style>
