<template lang="pug">
  section.container.p3
    h1(v-if="error.statusCode === 404") Page not found
    h1(v-else) An error occurred
    nuxt-link(to="/") Go home
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      required: true
    }
  }
}
</script>
