<template lang="pug">
  section.container.p-3
    .page-heading.d-flex.justify-content-between.align-items-center
      h1 Financial Virtual Clouds
      button.btn.primary(v-b-modal.fvc-modal) Add FVC

    .fvc-list(v-if="fvcList && fvcList.length")  
      a.fvc(@click="selectFvc(fvc)" href="#" v-for="fvc in fvcList") {{ fvc.name }}
         
    .no-fvc(v-else)
      h4.no-fvc.mt-3 Looks like you don't have a FVC yet
      p Add one by clicking the add FVC button

    b-modal#fvc-modal(title="Add FVC" hide-footer)
      FvcForm(:currencies="currencies" @success="fvcAdded")

      
</template>

<script>
import FvcForm from '~/components/forms/FvcForm.vue'

export default {
  components: {
    FvcForm
  },
  computed: {
    currencies() {
      return this.$store.state.financialVirtualClouds.currencies
    },
    fvcList() {
      return this.$store.state.financialVirtualClouds.clouds
    }
  },
  async fetch({ store }) {
    await Promise.all([
      store.dispatch('financialVirtualClouds/fetchClouds'),
      store.dispatch('financialVirtualClouds/fetchCurrencies')
    ])
  },
  methods: {
    selectFvc(f) {
      this.$store.commit('financialVirtualClouds/setCurrent', f)
      this.$router.push('/dashboard')
    },
    fvcAdded() {
      this.$bvModal.hide('fvc-modal')
    }
  }
}
</script>

<style lang="scss" scoped>
.page-heading {
  border-bottom: 1px solid $border-gray;
}

.fvc-list {
  display: flex;
  flex-direction: column;
}
.fvc {
  border-bottom: 1px solid $border-gray;
  padding: 20px;
}
</style>
