<template lang="pug">
  .container
    h2.title.pt-2 Log in
    UserForm(:submit="login" submit-title="Log in")
</template>

<script>
import UserForm from '~/components/forms/UserForm.vue'
import Message from '~/components/Message.vue'
export default {
  auth: 'guest',
  components: {
    UserForm,
    Message
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.loggedIn
    },
    username() {
      return this.$store.state.auth.user.username
    }
  },
  methods: {
    async login(password, email) {
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: email,
            password
          }
        })
        this.$auth.redirect('home')
        this.$store.commit('notifications/setSuccess', 'You are now logged in!')
      } catch (e) {
        if (e.response && e.response.status === 401) {
          this.$store.commit('notifications/setError', {
            message: 'Incorrect username or password.',
            object: e
          })
        } else {
          this.$store.dispatch('notifications/handleError', e)
        }
      }
    }
  }
}
</script>

<style></style>
