<template>
  <div class="container">
    <div>
      <h2 class="title">
        Stofna aðgang
      </h2>
      <UserForm :submit="register" submit-title="Stofna aðgang" />
      <Message ref="message" />
    </div>
  </div>
</template>

<script>
import UserForm from '~/components/forms/UserForm.vue'
import Message from '~/components/Message.vue'

export default {
  auth: false,
  components: {
    UserForm,
    Message
  },
  methods: {
    register(password, email) {
      this.$axios
        .post('/auth/register/', {
          email,
          password
        })
        .then(() => {
          this.$refs.message.show(
            `Aðgangur hefur verið stofnaður fyrir ${email}`,
            false
          )
          setTimeout(() => this.$router.push('/'), 3000)
        })
        .catch((err) => {
          this.$refs.message.show(err.response.data.reason, true)
        })
    }
  }
}
</script>
