<template lang="pug">
  AsyncMultiSelect(
    v-model="account"
    :ledger="ledger"
    :asyncSearchChange="queryAccounts"
    :disabled="disabled"
    :placeholder="placeholder"
  )
</template>

<script>
import AsyncMultiSelect from '~/components/AsyncMultiselect'

export default {
  components: {
    AsyncMultiSelect
  },
  model: {
    prop: 'account',
    event: 'input'
  },
  props: {
    ledger: {
      type: Number,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  computed: {
    account: {
      get() {
        return this.value
      },
      set(newVal) {
        this.$emit('input', newVal.id)
      }
    },
    fvc() {
      return this.$store.state.financialVirtualClouds.current.id
    }
  },
  methods: {
    async queryAccounts(query) {
      if (query.length === 0 || !this.ledger || !this.fvc) {
        return []
      } else {
        const { data } = await this.$axios.get(
          `/fvc/${this.fvc}/accounts/?q=${query}&ledger=${this.ledger}`
        )
        return data
      }
    }
  }
}
</script>
