<template lang="pug">
  b-form-select(v-model="ledger" :options="ledgerOptions")
</template>

<script>
export default {
  model: {
    event: 'input',
    prop: 'ledger'
  },
  props: {
    ledgers: {
      type: Array,
      required: true
    }
  },
  computed: {
    ledger: {
      get() {
        const ledger = this.defaultLedger
        if (ledger) {
          this.$emit('input', ledger)
        }
        return ledger
      },
      set(val) {
        this.$emit('input', val)
      }
    },
    ledgerOptions() {
      const options = []
      this.ledgers.forEach((l) => {
        options.push({
          value: l.id,
          text: l.name
        })
      })
      return options
    },
    defaultLedger() {
      if (this.ledgerOptions.length > 0) {
        const found = this.ledgerOptions.find((l) => l.parent === null)
        const val = found ? found.value : this.ledgerOptions[0].value
        return val
      }
      return null
    }
  }
}
</script>
