<template lang="pug">
  b-form(@submit="onSubmit")
    .row
      .col-6
        b-form-group(label="Ledger" label-size="sm" :state="!$v.account.ledger_id.$error" invalid-feedback="This field is required")
          LedgerSelect(v-model="$v.account.$model.ledger_id" :ledgers="ledgers")
        b-form-group(label="Account type" label-size="sm" :state="!$v.account.type_id.$error" invalid-feedback="This field is required")
          b-form-select(v-model="$v.account.$model.type_id")
            option(v-for="t in accountTypes" :value="t.id") {{ t.name }} 
      .col-6
        b-form-group(label="Name" label-size="sm" :state="!$v.account.name.$error" invalid-feedback="This field is required")
          b-form-input(v-model="$v.account.$model.name")
        b-form-group(:state="!$v.account.parent_id.$error" invalid-feedback="This field is required")
          b-form-checkbox(v-model="isSub" :value="true", :unchecked-value="false")
            .small.pt-1 Is a sub-account
          AccountSelect(v-model="$v.account.$model.parent_id" :disabled="!isSub" :ledger="account.ledger_id" placeholder="Select parent account")
    input.btn.primary.m-2.float-right(type="submit" value="Submit")
</template>

<script>
import { required, requiredIf } from 'vuelidate/lib/validators'
import LedgerSelect from '~/components/inputs/LedgerSelect.vue'
import AccountSelect from '~/components/inputs/AccountSelect.vue'

export default {
  components: {
    LedgerSelect,
    AccountSelect
  },
  props: {
    accountTypes: {
      required: true,
      type: Array
    },
    ledgers: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      isSub: false,
      account: {
        type_id: '',
        ledger_id: null,
        name: '',
        parent_id: ''
      }
    }
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      this.$v.account.$touch()
      if (this.$v.account.$anyError) {
        return
      }
      this.$store
        .dispatch('financialVirtualClouds/createAccount', this.account)
        .then(() => {
          this.$store.commit(
            'notifications/setSuccess',
            'The account was created'
          )
          this.$emit('success')
        })
        .catch((error) => {
          this.$store.dispatch('notifications/handleError', error)
        })
    }
  },
  validations: {
    account: {
      type_id: {
        required
      },
      ledger_id: {
        required
      },
      name: {
        required
      },
      parent_id: {
        required: requiredIf(function() {
          return this.isSub
        })
      }
    }
  }
}
</script>
