<template lang="pug">
  form(novalidate @submit="submitForm")
    b-form-group(label="Title" :state="!$v.cloud.name.$error" invalid-feedback="This field is required") 
      b-form-input(v-model="$v.cloud.$model.name" trim) 
    b-form-group(label="Currency" :state="!$v.cloud.currency.$error" invalid-feedback="This field is required")
      b-form-select(v-model="$v.cloud.$model.currency")
        option(v-for="c in currencies" :value="c.id") {{ c.quote }}
    input.btn.primary.mt-2.float-right(type="submit" value="Add FVC")
</template>

<script>
import required from 'vuelidate/lib/validators/required'

export default {
  props: {
    currencies: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      cloud: {
        name: null,
        currency: ''
      }
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault()
      this.$v.cloud.$touch()
      if (this.$v.cloud.$anyError) {
        return
      }
      this.$store
        .dispatch('financialVirtualClouds/createCloud', {
          name: this.cloud.name,
          currency: this.cloud.currency
        })
        .then(() => {
          this.$store.commit(
            'notifications/setSuccess',
            'The cloud was created'
          )
          this.$emit('success')
        })
        .catch((error) => {
          this.$store.dispatch('notifications/handleError', error)
        })
    }
  },
  validations: {
    cloud: {
      name: {
        required
      },
      currency: {
        required
      }
    }
  }
}
</script>
