<template lang="pug">
  form(novalidate @submit="checkForm")
    .form-group
      label.label Email
      input(v-model="email"
        class="form-control"
        type="email"
        placeholder="jon@jonsson.is")
      .invalid-feedback(:class="{ 'd-block': emailError && !validEmail }")
        | Please enter a valid email address
    .form-group
      label.label Password
      input(v-model="password"
        class="form-control"
        type="password"
        placeholder="Password")
      .invalid-feedback(:class="{ 'd-block': passwordError && !validPassword }")
        | The password should have at least 8 characters
    input.btn.primary(type="submit" :value="submitTitle")
</template>

<script>
export default {
  props: {
    submit: {
      type: Function,
      required: true
    },
    submitTitle: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      emailError: false,
      passwordError: false,
      email: null,
      password: null
    }
  },
  computed: {
    validEmail() {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(this.email)
    },
    validPassword() {
      return this.password && this.password.length >= 8
    }
  },
  methods: {
    checkForm(e) {
      e.preventDefault()
      this.emailError = !this.validEmail
      this.passwordError = !this.validPassword
      if (this.validEmail && this.validPassword) {
        this.submit(this.password, this.email)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
form {
  max-width: 320px;
}
</style>
